.main{
    margin:100px;
    box-shadow: 10px 10px 10px gray;
}
.container{
    border: rgb(223, 44, 74);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.item{
    text-align: left;
    padding-left: 10px;
    line-height:50px;
}
.exp-1{
    flex-grow: 1;
}
.exp-2{
    flex-grow: 3;
}
ul.breadcrumb li{
    display: inline;
    font-size: 10px;
}
.close{
    padding: 20px;
}